@use "./variables";
@use "./pages";

@mixin panels {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

@mixin nav {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  justify-content: center;
}

@mixin sandbox {
  display: grid;
  grid-template-columns: 200px 1fr 200px;

  grid-template-areas: "leftAside main rightAside";
  > * {
    padding: 10px;
  }
  aside.left {
    grid-area: leftAside;
  }
  > main {
    grid-area: main;
    border-left: 1px dashed black;
    border-right: 1px dashed black;

    .page {
      .games {
        @include pages.games;
      }
    }
  }
  aside.right {
    grid-area: rightAside;
  }
}
