@mixin clock {
  display: flex;
  justify-content: center;
}

@mixin toggle {
  $eye: 15px;
  height: fit-content;
  width: $eye * 2;
  border-radius: 50px;
  background-color: grey;
  padding: 2px;

  & .eye {
    width: $eye;
    height: $eye;
    background-color: white;
    border-radius: 50%;
  }
}

//GAMES

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  justify-content: center;

  width: fit-content;
  height: fit-content;
  gap: 4px;
}

.tile {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 10px;

  display: flex;

  justify-content: center;
  align-items: center;

  &.selected {
    background-color: lightgreen;
  }

  &.adjacent {
    background-color: yellow !important;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
