@use "./styles/mixins";
@use "./styles/variables";
@use "./styles/ui";
@use "./styles/pages";
@use "./styles/format";

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Courier New", Courier, monospace;

  transition: 0.2s;
}

.toggle {
  @include ui.toggle;
}

.body {
  @include format.fullScreen;
  margin: 1px;

  display: grid;

  > nav {
    @include mixins.nav;
    border-bottom: 3px solid black;
  }

  .sandbox {
    @include mixins.sandbox;

    display: grid;
    min-width: 0;
    min-height: 0;

    > * {
      @include mixins.panels;
      min-width: 0;
      min-height: 0;
    }
  }
}
