@use "./styles/mixins";
@use "./styles/variables";
@use "./styles/ui";

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Courier New", Courier, monospace;

  transition: 0.2s;
}

.toggle {
  @include ui.toggle;
}

.body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 1px;

  display: grid;

  nav {
    @include mixins.nav;
    @include mixins.panels;
  }

  .sandbox {
    @include mixins.sandbox;
    > * {
      @include mixins.panels;
    }
  }
}

.selectable {
  &:hover {
    &.underline {
      text-decoration: underline;
    }
    font-weight: 700;
    background-color: rgba(255, 255, 0, 0.5);
    &::before {
      content: "> ";
    }
    &::after {
      content: " <";
    }
  }
}
