* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Courier New", Courier, monospace;

  transition-duration: 0.2s;
}

.selectable {
  &:hover {
    &.underline {
      text-decoration: underline;
    }
    font-weight: 700;
    background-color: rgba(255, 255, 0, 0.5);
    &::before {
      content: "> ";
    }
    &::after {
      content: " <";
    }
  }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 1000000;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.5);
}

.modal {
  position: relative;

  width: 400px;
  max-width: calc(100vw - 40px);
  padding: 24px;

  background: white;
  border: 1px solid black;
  border-radius: 8px;

  box-sizing: border-box;
}
