@import '/global/styles/mobile.css' screen and (max-width: 768px);
@import '/global/styles/desktop.css' screen and (min-width: 769px);
@import '/global/styles/classEngine.css';
@import '/global/styles/modal.css';

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    transition-duration: 0.25s;

    font-family: 'Courier New', Courier, monospace;
}

iframe {
    border: none;
}

:root {
    --bg: black;
    --color: white;
    --hover1: rgba(255, 234, 0, 0.25);
    --hover2: rgba(255, 234, 0, 0.5);
}

button {
    border: none;
    background-color: transparent;
    color: var(--color);
    text-decoration: underline;
    width: 100%;
    text-align: start;

    &:hover {
        font-weight: 700;
        background-color: var(--hover2);
        &::before {
            content: '> ';
        }
        &::after {
            content: ' <';
        }
    }
}


#clock {
    text-align: center;
    font-weight: 700;
    text-decoration: overline underline 3px;
}


#log {
    white-space: pre-wrap;
    overflow-y: auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    

    &:hover {
        color: black;
    }
}

.console-log   { color: #eee; }
.console-info  { color: #6cf; }
.console-warn  { color: #fc3; }
.console-error { color: #f66; }
.console-debug { color: #8f8; }